.sidebar-body .nav .nav-item.nav-category {
  color: #7987a1;
  font-size: 11px;
  font-weight: 500;
  height: 15px;
  letter-spacing: .5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

/* Sidebar estilos */
.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  transition: width .1s ease, margin .1s ease-in-out;
  z-index: 999;
}

.sidebar-header {
  background: #fff;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid #e0e0e0;
}

.sidebar-body {

  padding: 25px;
  background: #fff;
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav-item {
  position: relative;
  padding: 5px 0px;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-link .link-title {
  margin-left: 30px;
  font-size: 14px;
  padding: 5px 0px;
}

.nav-link:hover {
  
  color: #6571ff;
}

.nav-item .nav-link.active {
  
  color: #6571ff;
}

.nav-item .nav-link.active .link-title {
  font-weight: bold;
}

.nav-item .nav-link.active::before {
  content: '';
  width: 3px;
  height: 26px;
  background: #6571ff;
  position: absolute;
  left: -25px;
}

.nav-item .nav-link.active .link-icon {
  color: #6571ff;
}

.sub-menu {
  padding-left: 45px;
}




.sub-menu .nav-link {
  font-size: 13px;
}

.sub-menu .nav-item .nav-link.active {
  color: #6571ff;
}

.nav-item .nav-link.collapsed {
  color: #6571ff;
}

.nav-item .nav-link.collapsed::before {
  content: '';
  width: 3px;
  height: 26px;
  background: #6571ff;
  position: absolute;
  left: -25px;
}

.sidebar-body .nav .nav-item .nav-link.active:before {
  background: #6571ff;
  content: "";
  height: 26px;
  left: -25px;
  position: absolute;
  width: 3px;
}

.sidebar-body .nav.sub-menu .nav-item .nav-link:before {
  background: transparent;
  border: 1px solid #aeb9c4;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: -29px;
  position: absolute;
  top: 10px;
  transition: all .4s ease-in-out;
  width: 6px;
}

.collapse:not(.show) {
  display: none;
}

.collapse {
  visibility: visible;
}

.nav.sub-menu .nav-item .nav-link {

  font-size: 13px;
  
  transition: all .3s ease-in-out;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link {

  font-size: 13px;
  
  transition: all .3s ease-in-out;
}

.sidebar .sidebar-body .nav .nav-item .nav-link {
  align-items: center;
  color: #000;
  display: flex;
  height: 32px;
  padding: 0;
  white-space: nowrap;
}

.col-span-1{
    grid-column-start: span 1;
    grid-column-end: span 1;

}
.col-span-2{
    grid-column-start: span 2;
    grid-column-end: span 2;

}
.col-span-3{
    grid-column-start: span 3;
    grid-column-end: span 3;

}
.col-span-4{
    grid-column-start: span 4;
    grid-column-end: span 4;

}
.col-span-5{
    grid-column-start: span 5;
    grid-column-end: span 5;

}
.col-span-6{
    grid-column-start: span 6;
    grid-column-end: span 6;

}
.col-span-7{
    grid-column-start: span 7;
    grid-column-end: span 7;

}
.col-span-8{
    grid-column-start: span 8;
    grid-column-end: span 8;

}
.grid-cols-24{
  grid-template-columns: repeat(24, minmax(0, 1fr));
}
.titulo-text {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 líneas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; /* Opcional: añade "..." si el texto es demasiado largo */
  height: 6ch;
  align-content: center;
}

.text-xs{
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
}

.text-vertical{
  writing-mode:vertical-rl;
}

.datatable-table {
  color: #6b7280;
  font-size: .875rem;
  text-align: left;
  width: 100%;
}
table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}
.dark .datatable-table thead {
  background-color: #1f2937;
  color: #9ca3af;
}
.datatable-table thead {
  background-color: #f9fafb;
  color: #6b7280;
  font-size: .75rem;
}

.datatable-table thead th {
  padding: .75rem 1.5rem;
  width: auto !important;
}

.datatable-table thead th, .datatable-table thead th {
  text-transform: uppercase;
}

.dark .datatable-table tbody tr {
  border-bottom: 1px solid #374151;
}
.datatable-table tbody tr {
  border-bottom: 1px solid #e5e7eb;
}



.datatable-table tbody td, .datatable-table tbody th, .datatable-table thead th {
    padding: .75rem 1.5rem;
    width: auto !important;
}
:is(.dark .dark\:text-white) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}



.whitespace-nowrap {
    white-space: nowrap;
}

@media (min-width: 640px) {
  .datatable-bottom {
      align-items: center;
      flex-direction: row;
  }
}
.datatable-bottom {
  align-items: start;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.dark  .datatable-bottom .datatable-info {
  color: #9ca3af;
}
 .datatable-bottom .datatable-info {
  color: #6b7280;
  font-size: .875rem;
}

 .datatable-bottom .datatable-pagination .datatable-pagination-list {
  align-items: center;
  display: flex
;
  font-size: .875rem;
  height: 2rem;
}
menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type,  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type {
  position: relative;
}


.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-left: 1px solid #374151;
}
.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link, .dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link,  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link,  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color: transparent;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link {
  border-bottom-left-radius: .5rem;
  border-left: 1px solid #d1d5db;
  border-top-left-radius: .5rem;
}
.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  border-color: #374151;
  color: #9ca3af;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  align-items: center;
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  color: #6b7280;
  display: flex
;
  font-size: .875rem;
  font-weight: 500;
  height: 2rem;
  padding-left: .75rem;
  padding-right: .75rem;
}
[role=button], button {
  cursor: pointer;
}

button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link, .dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link,  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:first-of-type .datatable-pagination-list-item-link,  .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  color: transparent;
}
.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color: #374151;
  color: #fff;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item:last-of-type .datatable-pagination-list-item-link {
  border-bottom-right-radius: .5rem;
  border-left: 0;
  border-top-right-radius: .5rem;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link:hover {
  background-color: #f9fafb;
  color: #374151;
}
.dark  .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  border-color: #374151;
  color: #9ca3af;
}
 .datatable-bottom .datatable-pagination .datatable-pagination-list-item-link {
  align-items: center;
  border-bottom: 1px solid #d1d5db;
  border-right: 1px solid #d1d5db;
  border-top: 1px solid #d1d5db;
  color: #6b7280;
  display: flex;
  font-size: .875rem;
  font-weight: 500;
  height: 2rem;
  padding-left: .75rem;
  padding-right: .75rem;
}

@media (min-width: 640px) {
   .datatable-top {
      align-items: center;
      flex-direction: row-reverse;
  }
}
 .datatable-top {
  align-items: start;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.dark  .datatable-input, .dark  .datatable-search .datatable-input {
  background-color: #1f2937;
  border: 1px solid #374151;
  color: #fff;
}
 .datatable-input,  .datatable-search .datatable-input {
  background-color: #f9fafb;
  border: 1px solid #d1d5db;
  border-radius: .5rem;
  color: #111827;
  font-size: .875rem;
  min-width: 16rem;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
button, input, optgroup, select, textarea {
  font-feature-settings: inherit;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}